<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <base href="/">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <title>M.Selvam Incurence Advicer</title>
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    </head>

    <body data-spy="scroll" data-target=".navbar" >
        <!-- nav bar -->
        <div id='Header'>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
                <div class="container">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="#" class="navbar-brand"><h3>Incurence Advicer & Agent</h3></a>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="#About" class="nav-link">About Me</a></li>
                            <li class="nav-item"><a href="#Policys" class="nav-link">Policys</a></li>
                            <li class="nav-item"><a href="#Conduct" class="nav-link">Conduct Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Show Case -->
        <div id="bg-img"></div>

        <!-- ABOUT US -->
        <div id="About">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="AboutData">
                            <div class="card bg-white">
                                <div class="card-title">
                                    <div class="media my-5">
                                        <img src="/asserts/rsz_selvam.jpg" alt="selvam" width="250" height="250" class="img-fluid rounded-top mx-5 d-none d-md-block" />
                                        <div class="media-body">
                                            <h3 class="display-4 ml-5">I'm M.Selvam</h3>
                                            <p class="text-muted ml-5">LIC Agent ,Star Health Insurance And United India Incurence Advicer</p>
                                            <div class="container">
                                                <table class="table table-responsive ml-4">
                                                    <tr>
                                                        <td class="text-muted">Age</td>
                                                        <td>:</td>
                                                        <td>52 years old</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-muted">Email</td>
                                                        <td>:</td>
                                                        <td>selvatamilml@gmail.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-muted">Phone</td>
                                                        <td>:</td>
                                                        <td>+91-9442704329</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-muted">Address</td>
                                                        <td>:</td>
                                                        <td>Madurai,simmakal..</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- icons -->
                                <div class="card-footer bg-danger">
                                    <a href="https://www.facebook.com/selvam.raj.123276"><i class="fa fa-facebook fa-2x mx-4"></i></a>
                                    <a href="https://wa.me/qr/G2QRWJBTVXBBC1"><i class="fa fa-whatsapp fa-2x mx-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                        <span class="bg-danger text-white">About Me</span><hr class="bg-danger" />
                        <p class="lead text-justify">It gives me a great pleasure to introduce myself as an Insurance advisor. I have been in this field for 17 years from the year 2003.I was working as an full time Incurance Advicer Professional.<br />
                            My goal is to satisfy the customers to keep them insure and be secured for future.<br />
                            My service to the customers is always at your doorstep at any point of time.<br />
                            Pleace contact me in case you need any assistance or douts in connection with Life insurance and non life insurance.
                        </p>
                        <ul>
                            <li>It gives me a great pleasure to introduce myself as an Insurance advisor.</li>
                            <li>I have been in this field for 17 years from the year 2003.</li>
                            <li>I was working as an full time Incurance Advicer Professional.</li>
                            <li>My goal is to satisfy the customers and also keep them insure and be secured for future.</li>
                            <li>My service to the customers is always at your doorstep at any point of time.</li>
                            <li>Pleace contact me in case you need any assistance or douts in connection with Life insurance and non life insurance.</li>
                        </ul>
                 </div>
                </div>
            </div>
        </div>

        <!-- policy -->
        <div id="Policys" class="mt-5">
            <div class="container">
                <span class="bg-primary text-white">Policys</span><hr class="pg-primary" />
                <div class="row mx-4">
                    <div class="col-lg-5 card bg-white mx-2 my-2 zoom ">
                        <table class="table table-responsive ml-4">
                            <tr>
                                <td class="text-dark">Jeevan Anand</td>
                            </tr>
                            <tr>
                                <td class="text-muted">sum assured</td>
                                <td>:</td>
                                <td>1,00,000 to unlimited</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Age</td>
                                <td>:</td>
                                <td>18 - 50</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Term years</td>
                                <td>:</td>
                                <td>15 - 35</td>
                            </tr>
                        </table>
                        <p class="ml-5">Insurance couerage till 100 years.</p>
                        <p class="ml-5">Conduct me for more details</p> 
                    </div>
                    <div class="col-lg-5 card bg-white mx-2 my-2 zoom">
                        <table class="table table-responsive ml-4">
                            <tr>
                                <td class="text-dark">Jeevan Umang</td>
                            </tr>
                            <tr>
                                <td class="text-muted">sum assured</td>
                                <td>:</td>
                                <td>2,00,000 to unlimited</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Age</td>
                                <td>:</td>
                                <td>1 - 55</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Term years</td>
                                <td>:</td>
                                <td>15 - 30</td>
                            </tr>
                        </table>
                        <p class="ml-5">Whole life & SB Policy</p>
                        <p class="ml-5">Conduct me for more details</p>
                    </div>
                    <div class="col-lg-5 card bg-white mx-2 my-2 zoom ">
                        <table class="table table-responsive ml-4">
                            <tr>
                                <td class="text-dark">Children Money Back</td>
                            </tr>
                            <tr>
                                <td class="text-muted">sum assured</td>
                                <td>:</td>
                                <td>1,00,000 to unlimited</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Age</td>
                                <td>:</td>
                                <td>1 - 12</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Term years</td>
                                <td>:</td>
                                <td>25</td>
                            </tr>
                        </table>
                        <p class="ml-5">Children eduction and marriage plan</p>
                        <p class="ml-5">Conduct me for more details</p>
                    </div>
                    <div class="col-lg-5 card bg-white mx-2 my-2 zoom ">
                        <table class="table table-responsive ml-4">
                            <tr>
                                <td class="text-dark">Jeevan Nidhi</td>
                            </tr>
                            <tr>
                                <td class="text-muted">sum assured</td>
                                <td>:</td>
                                <td>1,00,000 to unlimited</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Age</td>
                                <td>:</td>
                                <td>20 - 58</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Term years</td>
                                <td>:</td>
                                <td>7 - 35</td>
                            </tr>
                        </table>
                        <p class="ml-5">Pension Plan</p>
                        <p class="ml-5">Conduct me for more details</p>
                    </div>
                    <div class="col-lg-5 card bg-white mx-2 my-2 p-4 zoom ">
                        <h4>Star Health Insurance</h4>
                        <ul>
                            <li>Family Health Optima Policy</li>
                            <li>Young Star Policy</li>
                            <li>Arogya San Jeevan Policy</li>
                            <li>Corona Kavach Policy </li>
                            <li>Senior Citizen Policy</li>
                        </ul>
                        <p class="ml-5">Conduct me for more details</p>
                    </div>
                    <div class="col-lg-5 card bg-white mx-2 my-2 p-4 zoom ">
                        <h4>United India Insurance</h4>
                        <ul>
                            <li>Two Wheeler</li>
                            <li>Car</li>
                            <li>Auto</li>
                            <li>Bus</li>
                        </ul>
                        <p class="ml-5">Conduct me for more details</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function submitEmailForm(form) {
                var obj = new XMLHttpRequest();
                obj.onreadystatechange = function () {
                    if(obj.readyState == 4) {
                        if(obj.status == 200) {
                            var x = JSON.parse(obj.responseText);
                            alert(x.message);
                        }
                        else {
                            alert("XMLHttp Status: " + obj.status + ";" + obj.statusText);
                        }   
                    }
                };
                obj.open("post", form.action, true);
                obj.setRequestHeader("Content-Tye", "application/json");
                obj.send(JSON.stringify({ name: form.name.value, occupation: form.occupation.value, mobile: form.mobile.value, message: form.message.value }));
                return false; 
            }
        </script>
        <!-- conduct -->
        <div id="Conduct" type='form'>
            <div class="container mt-5">
                <span class="bg-success text-white">Conduct Me</span><hr class="bg-dark"/>
                <div class="row">
                    <div class="col">
                        <div class="card bg-white">
                            <form action="/name" method="post"  onsubmit="return submitEmailForm(this);">
                                <div class="card header">
                                    <h4 class="my-4 mx-5">Conduct Me On Below</h4>
                                    <div class="form-group mx-5">
                                        <input type="text" id="name" name="name" placeholder="Name" class="form-control" required />
                                    </div>
    
                                    <div class="form-group mx-5">
                                        <input type="text" id="occupation" name="occupation" placeholder="Occupation" class="form-control" required />
                                    </div>
    
                                    <div class="form-group mx-5">
                                        <input type="number" id="mobile" name="mobile" placeholder="Mobile Number" class="form-control" required />
                                    </div>
    
                                    <div class="form-group mx-5">
                                        <input type="date" id="dob" name="dob" placeholder="Date Of Birth" class="form-control" />
                                    </div>
    
                                    <div class="form-group mx-5">
                                        <textarea id="message" name="message" class="form-control" placeholder="Message........" required></textarea>
                                    </div>
    
                                    <div class="form-group mx-5 mb-5">
                                        <button class="btn btn-success text-white" type="submit" value="submit">submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="container-fluid bg-dark mt-5">
            <div class="row">
                <div class="col">
                    <p class="text-white px-5 py-5 text-center">Website Designed By: gokul in 2020 - 2021</p>
                </div>
            </div>
        </div>
        <script>
            $('form').on('submit', (e) => {
                e.preventDefault();

                const name = $('#name').val().trim();
                const occupation = $('#occupation').val().trim();
                const mobile = $('#mobile').val().trim();
                const dob = $('#dob').val().trim();
                const message = $('#message').val().trim();

                const data = {
                    name,
                    occupation,
                    mobile,
                    dob,
                    message
                };

                $.post('/name', data, function() {
                    console.log('server received data');
                });
            });

            // function submitForm() {
            //     document.getElementById("clearform").reset();
            // }
            let btnclear = document.querySelector('button');
            let inputss = document.querySelectorAll('input');

            btnclear.addEventListener('click', () => {
                inputss.forEach(input = input.value = '')
            });

        </script> 
    </body>
</html>