body {
    background: #ccc;
}

#Header a:hover {
    color: #fff;
}

#bg-img {
    background: url('../asserts/house.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}

#About {
    margin-top: -200px;
}

#About .fa {
    color: #fff;
}

#About span {
    padding: 10px 20px 10px 20px;
}

#About hr {
    border-width: 2px;
    margin-top: 06px;
}

#Policys span {
    padding: 10px 20px 10px 20px;
}

#Policys hr {
    border-width: 2px;
    margin-top: 06px;
}


#Conduct span {
    padding: 10px 20px 10px 20px;
}

#Conduct hr {
    border-width: 2px;
    margin-top: 06px;
}

.zoom {
    transition: transform .2s; 
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05); 
  }

  @keyframes moveToDown {
      0% {
        opacity: 0;
        transform: translateY(30px);
      }

      80% {
          opacity:1;
          transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }

  @keyframes moveToLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
        opacity:1;
        transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

  .anim {
    animation: moveToDown 2s ease-in-out;
  }

  .navanim {
      animation: moveToLeft 2s ease-in-out;
  }